@maxMobile : "(max-width:767px)";
@maxSmall : "(max-width:991px)";
@minSmall : "(max-width:768px)";
/*Prefixes Mixin*/
/*Animation Mixin*/
.header {
  padding: 20px 0;
  overflow: hidden;
  border-bottom: 1px solid #9c9c9c; }
.header .logo {
  width: 30%;
  float: left; }
.header .logo h1 {
  margin-bottom: 0;
  margin-top: 10px; }
.header .navbar {
  width: 70%;
  float: left;
  background-color: #e2494c;
  border-radius: 15px; }
.header .navbar li {
  width: 20%;
  float: left;
  font-size: 18px;
  text-align: center; }
.header .navbar li a {
  display: block;
  padding: 20px 10px;
  color: #fff;
  text-decoration: none; }
.header .navbar li a:hover {
  color: #ddd; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: value; }

.container {
  width: 1200px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative; }

.clearfix {
  clear: both; }

/* Start Footer */
.footer {
  background-color: #9c9c9c;
  overflow-x: hidden;
  padding-top: 30px;
  margin-top: 50px; }
.footer .gallery, .footer .info, .footer .contact {
  float: left; }
.footer .gallery {
  width: 50%; }
.footer .gallery .img-box {
  overflow: hidden;
  margin-bottom: 20px; }
.footer .gallery .img-box img {
  float: left;
  width: 150px;
  height: 150px; }
.footer .gallery .img-box .text {
  float: left;
  margin-right: 15px;
  margin-left: 15px;
  width: calc(100% - 180px); }
.footer .gallery .img-box .text h4 {
  color: #e2494c;
  margin: 20px 0 0px; }
.footer .gallery .img-box .text p {
  color: #888;
  line-height: 1.9;
  margin-top: 8px; }
.footer .info {
  width: 25%; }
.footer .info ul {
  color: #888;
  line-height: 1.8; }
.footer .info ul li span {
  color: #e2494c; }
.footer .info h4 {
  color: #888;
  font-weight: bold;
  margin-bottom: 0; }
.footer .info p {
  color: #888;
  margin-top: 8px; }
.footer .contact {
  width: 25%; }
.footer .contact input[type="text"], .footer .contact input[type="email"], .footer .contact textarea {
  border: 1px solid #888;
  border: 1px solid #c9c9c9;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 10px;
  width: 100%; }
.footer .contact textarea {
  height: 140px; }
.footer .section-title {
  color: #444;
  font-weight: normal; }
.footer .copyright {
  padding: 25px 0;
  border-top: 1px solid #c5c5c5;
  overflow: hidden;
  color: #888; }
.footer .copyright .text, .footer .copyright .author {
  width: 50%;
  float: left; }
.footer .copyright .author {
  text-align: right; }

/* End Footer */
/*  Start Slider  */
.slider blockquote {
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  font-family: Tahoma, Arial;
  line-height: 1.7;
  text-align: center;
  color: #5e5e5e;
  width: 80%;
  margin: 30px auto; }
.slider img {
  max-width: 100%; }
.slider .bullets {
  text-align: center; }
.slider .bullets li {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #9c9c9c;
  border-radius: 50%;
  border: 2px solid #9c9c9c;
  cursor: pointer; }
.slider .bullets li.active, .slider .bullets li:hover {
  background-color: #fff;
  border: 2px solid #333; }

/*  End Slider  */
/*  Start Services  */
.services .service-box {
  float: left;
  width: 33.3333333333%; }
.services .service-box:not(:last-of-type) {
  padding-right: 20px; }
.services .service-box .service-title {
  color: #666;
  text-align: center; }
.services .service-box .service-title i {
  font-size: 35px;
  position: relative;
  top: 4px; }
.services .service-box .service-desc {
  color: #777;
  line-height: 1.5; }
.services .service-box .link {
  color: #e2494c;
  text-decoration: none; }

/*  End Services  */
/*  Start Players  */
.our-players .player-box {
  float: left;
  width: 20%; }
.our-players .player-box:not(:last-of-type) {
  padding-right: 20px; }
.our-players .player-box:last-of-type {
  max-width: calc(20% - 20px); }
.our-players .player-box .player-img {
  max-width: 100%; }
.our-players .player-box .player-title {
  color: #666;
  font-weight: normal; }
.our-players .player-box .player-title span {
  font-weight: bold; }
.our-players .player-box .player-title i {
  font-size: 35px;
  position: relative;
  top: 4px; }
.our-players .player-box .player-desc {
  color: #777;
  line-height: 1.5; }
.our-players .player-box .link {
  color: #e2494c;
  text-decoration: none; }

/*  End Players  */
/*  Start Lorem Ipsum  */
.lorem-ipsum .lorem-box {
  float: left;
  width: 31.3333333333%; }
.lorem-ipsum .lorem-box:not(:last-of-type) {
  margin-right: 3%; }
.lorem-ipsum .lorem-box .lorem-img {
  max-width: 100%; }

/*  End Lorem Ipsum  */
body {
  background-color: #f6f6f6;
  font-family: Tahoma;
  font-size: 16px; }
body ul, body ol {
  list-style: none;
  padding: 0; }

.head-with-border {
  position: relative; }
.head-with-border h2 {
  text-align: center;
  background-color: #e2494c;
  color: #fff;
  margin: 40px auto;
  border-radius: 15px;
  width: 400px;
  padding: 10px 15px;
  text-transform: uppercase; }
.head-with-border h2:before {
  content: '';
  width: 100%;
  height: 1.5px;
  background-color: #9c9c9c;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1; }

.main-button {
  background-color: rgba(226, 73, 76, 0.8);
  color: #fff;
  border: none;
  padding: 10px 15px;
  text-align: center;
  min-width: 120px;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer; }
.main-button:hover {
  background-color: #e2494c; }

/*# sourceMappingURL=homepage.css.map */
